*, p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  color: #009ccf;
  font-weight: bold;
}

.imgWrap {
  margin: 0 0 5px;
}

img {
  max-width: 100%;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

label {
  display: block;
  margin: 10px 0 0;
}

.container {
  width: 300px;
  border: 2px solid #ccc;
  margin: auto;
  padding: 5px;
}

.widget {
  height: 250px;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -150px;
}
.widget h1 {
  margin: 0 0 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #58595b;
}
.widget h2 {
  margin: 0 0 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #009ccf;
  font-size: 16px;
}
.widget a {
  display: block;
  margin: 0 auto 5px;
}

button {
  color: #fff;
  border: 0 none;
  background: #009ccf;
  padding: 0 2.5%;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  vertical-align: bottom;
}

input[type="text"] {
  height: 30px;
  background-color: #fff;
  color: #58595b;
  padding: 0 10px;
  font-size: 12px;
  border: 1px solid #c7c7c7;
}

#businessSearch {
  margin: 10px auto;
}
#businessSearch button {
  width: 75px;
  float: right;
}
#businessSearch input {
  width: calc(100% - 80px);
}
